 <div class="field">
  <%= f.label :author %><br />
  <%= f.text_field :author %>
</div>
<div class="field">
  <%= f.label :comment %><br />
  <%= f.text_area :comment %>
</div>
<%= render :partial => "shared/honeypot" %>
<div class="actions">
  <%= f.submit "Save Comment" %>
</div>