<%= nested_form_for(@medium, :html => { :multipart => true }) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <h2>Questions and discussion</h2>
  <%= f.fields_for :prompts %>
  <p><%= f.link_to_add "+ Add question/answer", :prompts %></p>
  
  <h2>Related Images</h2>
  <%= f.fields_for :images do |i| %>
    <p>
      <% if i.object.image.file? %>
        <%= image_tag i.object.image.url(:thumb) %><br/>
      <% end %>
      <%= i.label :image, "Upload new image:" %>
      <%= i.file_field :image %><br/>
      - <%= i.link_to_remove "Remove image" %>
    </p>
  <% end %>
  <p><%= f.link_to_add "+ Add image", :images %></p>

  <%= render :partial => "shared/honeypot" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
