<h1><%= @medium.title %> (<%= @medium.year %>)</h1>
  
<%= raw markdown.render(@medium.description) %>

<h2>Observations and Discussion</h2>
<% for prompt in @medium.prompts %>
  <h3><%= prompt.question %></h3>
  <%= raw markdown.render(prompt.answer) %>
<% end %>

<% if !@medium.images.empty? %>
  <% for image in @medium.images %>
    <%= link_to(image_tag(image.image.url(:medium)), image.image.url) %>
  <% end %>
<% end %>