<div class="field">
  <%= f.label :question %><br />
  <%= f.text_field :question %>
</div>
<div class="field">
  <%= f.label :answer %><br />
  <%= f.text_area :answer %>
</div>
<p><%= f.link_to_remove "Remove this question/answer" %></p>