<div class="field">
  <%= g.label :question %><br />
  <%= g.text_field :question %>
</div>
<div class="field">
  <%= g.label :answer %><br />
  <%= g.text_area :answer %>
</div>
<p><%= g.link_to_remove "Remove prompt" %></p>