<p id="notice"><%= notice %></p>

<h1><%= @medium.title %> (<%= @medium.year %>)</h1>

<p>
  <strong>Description:</strong>
  <%= @medium.description %>
</p>

<h2>Observations and Discussion</h2>
<% for prompt in @medium.prompts %>
  <h4><%= prompt.question %></h4>
  <p><%= prompt.answer %></p>
<% end %>

<%= link_to "Edit '#{@medium.title}'", edit_medium_path(@medium) %>

<hr/>

<%= comments_for @medium %>
