<p id="notice"><%= notice %></p>

<%= render :partial => "medium" %>

<p><%= link_to "Edit '#{@medium.title}'", edit_medium_path(@medium) %> | <%= link_to "Version History", versions_medium_path(@medium) %></p>

<hr/>

<h2>Comments</h2>
<% if @medium.comments.empty? %>
  <p>No comments yet...</p>
<% else %>
  <% for comment in @medium.comments %>
    <p><strong><%= comment.author %></strong> - <em><%= time_ago_in_words(comment.updated_at) %> ago</em><br/>
    <%= comment.comment %></p>
  <% end %>
<% end %>
<%= nested_form_for(@medium) do |f| %>
  <p><%= f.link_to_add "Add comment", :comments %></p>
<% end %>