<!DOCTYPE html>
<html>
<head>
  <title>Watch Your Step</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
	<span title="Watch Your Step"><strong>[W][Y][S]</strong></span> | <%= link_to "Home", root_path %> | <%= link_to "Media", media_path %>
</div>
<%= yield %>

</body>
</html>
